# Ignore environment files
backend/.env
backend/.env.example

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore temporary folders
.generated/
temp/

# Ignore OS and editor files
.DS_Store
.vscode/
